.btn {
  padding: 10px 30px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.025em;
}
.primaryBtn {
  background: #1abb9c;
  color: #fff;
}

.fontBase{
  font-size: 16px;
  letter-spacing: 0.025em;
}

.title {
  color: #506a85;
}

